html, body {
  height: 100%;
  font-family: Fira Sans;
}

body {
  width: 100%;
  height: 100%;
  background: #333;
  overflow: hidden;
  margin: 0;
  font-size: 10px;
}

.launch {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
}

#launch-button {
  background: #fff;
  color: #000;
  width: 200px;
  height: 40px;
  font-size: 1.25rem;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
}


#launch-button:hover, #launch-button:active {
  background: #00CAF2;
  color: #fff;
  font-size: 1rem;
}

.instruction {
  color: #fff;
  font-size: 1rem;
  display: inline-block;
  margin-top: 1rem;
  text-transform: uppercase;
}
.instruction-letter {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border: 1px solid white;
  margin-bottom: 2rem;
}

/* containing element that will be made fullscreen */
#container {
}

#container:-moz-full-screen {
  cursor: none; /* hides cursor in fullscreen VR mode */
}

.fit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fit iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}






