html, body {
  height: 100%;
  font-family: sans-serif;
  -moz-user-select: none;
  user-select: none;  
}
body {
  width: 100%;
  height: 100%;
  background: #333;
  overflow: hidden;
  margin: 0;
  font-size: 10px;
}

.launch {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.launch .console {
  color: rgba(250,255,250,.95);
  background: rgba(0,0,0,0.5);
  font-size: 12px;
  height: 30%;
  width: 100%;
  margin: auto;
  padding: 1em;
  text-shadow: .05em 0 .05em #0f0, -.05em 0 .05em #0f0;
  margin: 0;
}

/* containing element that will be made fullscreen */
#container {
}

#container:-moz-full-screen {
  cursor: none; /* hides cursor in fullscreen VR mode */
}

.fit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fit iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


