html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background: #efefef;
  margin: 0;
  font-weight: 400;
  color: #333;
  font-size: 1.0rem;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: black;
}

p a:hover, li a:hover {
  background: rgba( 194, 25, 131, 0.25 );
}

h1, .alpha {
  font-size: 4.5rem;
  margin: 0;
}

h2, .beta {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

h3, .gamma {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

h4, .delta {
  font-size: 1rem;
  margin: 1rem 0 1rem 0;
  border-bottom: 1px dotted #333;
  padding: 1rem 0 1rem 0;
}

ul {
  padding: 0 0 0 1rem;
  margin: 0;
}

li {
  padding: 0.5rem 0 0.5rem 0;
  margin: 0;
  list-style: none;
}

footer {
  width: 800px;
  margin: auto;
}



#blog {
  line-height: 1.5rem;
}

#blog h1, h2 {
  font-weight: 700;
  letter-spacing: 0.01rem;
  line-height: 2.2rem;
}

#blog #moreinfo {

  margin: 3rem 0;
}

#blog #moreinfo ul {

  margin: 1rem 0;
  list-style: none;
  padding: 0;
  margin: 0;
}

#blog #moreinfo li {

  list-style: none;
  margin: 0.3rem 0;
  padding: 0rem;
}

#blog #moreinfo a {
  text-decoration: none;
  padding: 0.1rem 0.2rem;
  background: rgba( 194, 25, 131, 0.2 );
}

#blog #moreinfo a:hover {
  background: rgba( 194, 25, 131, 0.5 );
}

#blog .date {

  font-size: 0.8rem;
  color: rgba( 30, 30, 30, 0.8 );
  letter-spacing: 0.2rem;
  text-transform: uppercase;

}



.container {
  width: 40rem;
  margin: 2rem auto 2rem auto;
  padding: 0rem;
}

.content {
  /*background: #fff;*/
}

.menu {
  width: 800px;
  margin: 2rem auto 2rem auto;
  background: #fff;
  border: 0;
}

.menu ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  list-style: none;
  text-align: center;
  flex-grow: 1;
  padding: 1rem;
  text-transform: uppercase;
}

.menu li.selected {
  background: #333;
  color: #fff;
}

.large-button {
  font-family: 'Montserrat', sans-serif;
  border: 0.5rem solid #333;
  padding: 1rem;
  width: 18rem;
  background: transparent;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.5rem;
  cursor: pointer;
}

.large-button:hover {
  background: #333;
  color: #fff;
}

.key-button {
  min-width: 2rem;
  height: 2rem;
  display: inline-block;
  border: 0.2rem solid #333;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0rem 0.5rem 0rem 0.5rem;
}

.instruction {
  font-size: 1.2rem;
}

.key-label {
  margin: 0 0 0 1rem;
  display: inline-block;
  font-size: 1.2rem;
}

.download {
  display: inline-block;
}

.header {
  color: #333;
  border-bottom: 1px dotted #333;
}



/* helpers */
.center {
  text-align: center;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.margin-auto {
  margin: auto;
}
.group:after { /* clearfix */
  content: "";
  display: table;
  clear: both;
}