.transition {
  display: none;
  width: 1200px;
  height: 900px;
  transform: translate(-50%, -50%) translate3d(0, 0, -10rem) rotateY(0) rotateX(0);
}

.transition.fadeOut {
  display: block;
  animation: 0.5s fade-out linear forwards;
}

.transition.fadeIn {
  display: block;
  animation: 0.5s fade-in linear forwards;
}

/** Transition Animation
 ---------------------------------------------------------*/

@keyframes fade-out {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 1);

  }
}

@keyframes fade-in {
  from {
    background-color: rgba(0, 0, 0, 1);
  }
  to {
    background-color: rgba(0, 0, 0, 0);

  }
}
